//
// page-head.scss
//

.page-title-box {
    .page-title {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .page-title-right {
        float: right;
        margin-top: 20px;
    }

    .breadcrumb {
        padding-top: 8px;
    }
    .dashboard-topbar {
        margin-bottom: 20px;
    }

    .greeting {
        font-weight: 500;
        color: #333;
    }

    .username {
        color: #2d78f4; /* Blue color for the name */
        font-weight: 600;
    }

    .organization {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-bottom: 5px;
        color: #002856;
    }

    .btn-purple {
        background-color: $purple;
    }
    .organization-link {
        text-decoration: none;
        font-weight: 500;
    }

    .organization-link:hover {
        text-decoration: underline;
    }
}
.recent_event_container {
    border-style: $border-style;
    border-color: $border-color;
}
.event-list-table-head {
    background-color: #003b3f !important; /* Dark teal background */
    text-align: left;
}
.event-list-table-head th {
    padding: 20px 16px;
    font-weight: lighter;
    color: white !important; /* White text color */
}
.page-title-box-sm {
    .page-title {
        line-height: 1 !important;
        margin-bottom: 25px;
    }

    .page-title-right {
        float: right;
        margin-top: 0;
    }

    .breadcrumb {
        padding-top: 0;
        margin-top: -3px !important;
    }
}

@include media-breakpoint-down(md) {
    .page-title-box {
        .page-title {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 70px;
        }

        .breadcrumb {
            display: none;
        }

        .page-title-right {
            display: none;
        }
    }
}

@media (max-width: 419px) {
    .page-title-box .breadcrumb {
        display: none;
    }
}
