.event-card {
    .bg-darkBlueShaded {
        background-color: #003236;
    }
    .list-group-item {
        border-left-width: 1px;
        border-right-width: 1px;
        &:last-child{
            border-bottom-width: 1px;
        }
    }
}
.bg-green {
    background-color: $green;
}
.color-green {
    color: $green;
}